* {
  box-sizing: border-box;
}

body {
  background-color: #cad3d3;
  text-align: center;
  color: #5f727f;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.bg-white {
  background-color: white;
}

.bg-dark-purple {
  background-color: #2c2e3d;
}

.weight-100 {
  font-weight: 100;
}

.text-blue {
  color: #5cb2f9;
}

.text-purple {
  color: #5a3455;
}

.text-green {
  color: #40b22d;
}

.btn-blue {
  border: 1px solid #5cb2f9;
}

.btn-purple {
  border: 1px solid #5a3455;
}

.btn-green:hover {
  background-color: #40b22d;
  color: white;
}

.btn-blue:hover {
  background-color: #5cb2f9;
  color: white;
}

.btn-purple:hover {
  background-color: #5a3455;
  color: white;
}

.btn-green {
  border: 1px solid #40b22d;
}

.container {
  width: 90%;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #5f727f;
}
header p span {
  font-size: 40px;
  margin: 0 5px;
  cursor: pointer;
  color: #555;
  width: 30px;
  height: 30px;
  display: inline-block;
  line-height: 19px;
  text-align: center;
  border-radius: 3px;
}
header p span:hover {
  background: #222;
  color: white;
}

.slide {
  display: flex;
  margin: auto;
  overflow-x: auto;
  height: 900px;
  align-items: center;
}
.slide .col {
  min-width: 30%;
  margin: 0 20px 0 20px;
  position: relative;
  left: 0;
  transition: 0.5s;
}
.slide .col .price {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  width: 120px;
  height: 120px;
  z-index: 1;
}
.slide .col .price-title {
  font-size: 30px;
}
.slide .col .price-text {
  margin-top: -25px;
}
.slide .col .bg-img {
  position: relative;
}
.slide .col .bg-img .text-img {
  position: absolute;
  width: 100%;
  top: 35%;
}
.slide .col .bg-img .text-img-title {
  font-weight: 100;
  text-transform: uppercase;
  color: white;
}
.slide .col .bg-img .text-img-text {
  margin-top: -10px;
  color: white;
  font-weight: 100;
}
.slide .col .bg-img .opacity {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}
.slide .col .title {
  height: 6rem;
}
.slide .col .list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.slide .col .list li {
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: center;
  color: #5f727f;
}
.slide .col .list li:nth-child(odd) {
  background-color: #f4f6f7;
}
.slide .col .box-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
}
.slide .col .box-btn .btn {
  padding: 10px 20px 10px 20px;
  cursor: pointer;
}
.slide .col .new {
  position: absolute;
  z-index: 1;
  top: -2%;
  left: -3%;
}
.slide .col .new-text {
  position: absolute;
  width: 100%;
  top: 10%;
  color: white;
}

.control-dot {
  height: 100px;
  display: flex;
  justify-content: center;
}
.control-dot .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slide::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 600px) {
  header h1 {
    font-size: 15px;
  }

  .slide .col {
    min-width: 100%;
    margin: 10px 10px 0 0;
  }
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .slide .col {
    min-width: 50%;
    margin: 10px 10px 0 0;
  }
}

/*# sourceMappingURL=style.css.map */
